#menuList.onClick {
  transform: translateY(0);
}
.active {
  font-weight: bold;
  color: white;
  background: #003a70;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  transform: scale(1.05);
}
