@media (min-width: 768px) {
  header {
    flex-direction: column;
  }
  
  #menuList {
    position: static;
    width: 700px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #sec1 {
    padding-top: 200px;
  }
}

@media (min-width: 1280px) {
  #menuList {
    font-size: 16px;
    width: 850px
  }
}

#menuList.onClick {
  transform: translateY(0);
}
.active {
  font-weight: bold;
  color: white;
  background: #003a70;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  transform: scale(1.05);
}
